 <table class = "table table-bordered table-hover">
   <% @comments.each do |comment| %>
      <tr>
        <td>
          <%= render("comment", :comment => comment) %>
        </td>
      </tr>
    <% end %>
</table>
