<h1> Hacker News </h1>
<p> <%= link_to "New", new_article_path %> </p>
<% @articles.each do |article| %>
  <h2> <%= link_to article.title, article.url %> </h2>
  <p> <%= "Created at #{post.created_at}" %>
<% end %>
