<table class="table table-bordered table-hover">
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= render("article", :article => article) %>
        </td>
      </tr>
    <% end %>
  </table>
<%= will_paginate @articles %>


