<h4> <center> <%= @user.user_name %> </center> </h4>
<h5> <center> Joined <%= time_ago_in_words(@user.created_at) %> ago </center> </h5>

<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Submissions</a></li>
    <li><a href="#tab2" data-toggle="tab">Comments</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @user.articles.recent.each do |article| %>
        <p> <%= render("articles/article",:article => article) %> </p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @user.comments.recent.each do |comment| %>
        <p> <%= render("comments/comment", :comment => comment) %></p>
      <% end %>
    </div>
  </div>
</div>
